/* CSS  reseat */

html{
  scroll-behavior: smooth;
}
*{

  margin: 0px;
  padding: 0px;
}
body{
  background-color: rgb(127, 255, 238);
}
 /* CSS Variable */
 /* :root{
    --navbar-height:59px;
    } */

 /* naigation bar */
 #navbar{
  display: flex;
  align-items: center;
  position: relative;
   top: 0px;
   position: sticky;
}

 /* navigation bar  Logo and Image */
 #logo{
    margin-right: 45px;
 }  
 .ap{
   color: rgb(255, 255, 255);
   text-align: center;
   font-size: 20px;
   font-style: italic;
   font-weight: bold;
   padding: 0px 2px 4px 5px;
   font-family: Georgia, 'Times New Roman', Times, serif;

 }
 #logo img{
  border-radius: 100%;
    height: 80px;
    margin: 15px 15px -2px 18px;

 }

 #navbar ul{
   display: flex;
 }
 #navbar::before{
   content: "";
   background-color: #000000;
   position: absolute;
   top: 0px;
   left: 0px;
   height: 100%;
   width: 100%;
   z-index: -1;
   opacity: 0.4;
    background-repeat: no-repeat;
    background-size:cover;
 }
 #navbar ul li{
   list-style: none;
   font-size: 1.3rem;
 }

 #navbar ul li a{
  color: rgb(255, 255, 255);
   display: block;
   padding: 5px 20px;
   border-radius: 20px;
   text-decoration: none; /* for remove the underline*/
   /* transition:all 2s ease-in-out; */
    
 }
 #navbar ul li a:hover{
  color: rgb(255, 0, 0);
  background-color: white;
  /* transform: scale(1.2) ; */
 }

 /* home section */
  #home{
   display: flex;
   flex-direction: column;
   padding: 3px 200px;
   height: 510px;
   justify-content: center;
   align-items: center;
 }
   
  #home::before{
    content: "";
    background: url(336402.jpg);
   position: absolute;
   top: 0px;
   left: 0px;
   height:85%;
   width: 100%;
   z-index: -1;
   opacity: 0.88;
    background-repeat: no-repeat;
    background-size:cover;
   /* background-image: url(rbg.webp); */
   
 }
 #home h1{
  color: white;
  text-align: center;
  
 }
 #home p{
  color: rgb(164, 255, 240);
  text-align: center;
  /* font-family: serif; */
  font-size: 1.5rem;
}
/* services section */

 .services{
   margin: 10px;
    display: flex;
}

 .services .box{
    border: 2px solid rgb(94, 0, 0);
    padding: 10px;
    margin: 10px;
    background-color: #d3bfbf;
    border-radius: 20px;
    box-shadow: 0.6rem 0.6rem 0.8rem  rgb(43, 63, 63); 
   }
 .services .box img{
 height: 200px;
margin: auto;
display: block;
border-radius: 10px;
}
 .services .box p{
  font-family: Georgia, 'Times New Roman', Times, serif;
 }

 /* client section */
 #client-section{
  height: 223px;
 }
 
 #client-section::before{
  content: "";
    background: url(rbg.webp);
   position: absolute;
   /* top: 0px;
   left: 0px; */
   height: 30%;
   width: 100%;
   z-index: -1;
   opacity: 0.80;
   background-repeat: no-repeat;
   background-size:cover;
  display: block;
 }
 #clients{ display: flex;
  justify-content: center;
  align-items: center;
  /* height: 200px; */
  /* margin: 20px;  
  padding: 10px; */

 }
 #clients img{
   height: 60px;
  margin: 10px;
  padding: 5px;
 }
  /* contact section */
  #contact{
    position: relative;
  }
  #contact::before{
    content: "";
    background: url(bg.webp);
   position: absolute;

   height: 100%;
   width: 100%;
   z-index: -1;
   opacity: 0.80;
   background-repeat: no-repeat;
   background-size:cover;
    
  }
 #contact-box{

  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
  /* font-size: 18px; */

 }
 #contact-box input, #contact-box textarea{
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 10px;
  border: 2px solid blue;
  cursor: auto;
 }
  
 #contact-box form{
width: 40%;
  
 }
 #contact-box label{
 font-size: 1.3rem;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-left: 10px;
 }  

 #contact-box .form-group{
  margin: 12px;
    
   }
   #contact-box .submit{
    display: flex; 
   }
   #contact-box .submit{
    /* border-radius: 10px; */
    margin: 12px;
    padding-left:  10px;
   }

   .submit .click{
    margin: 1px 20px;
    padding-left:10px;
   }
   .submit :hover{
    background-color: blue;
    color: rgb(0, 0, 0);
    /* cursor: pointer; */
   }
   

  /* footer section */

  footer{
    background-color: #000000;
    color: white;
    padding: 8px 20px;
    font-size: 20px;
  }
  

  /* Utility Classes */
   .h-primary{
    font-size: 3.8rem;
    padding: 10px;

   }
   
   .h-secondry{
    font-size: 1.8rem;
    padding: 10px;

   }
   .btn{
    padding: 6px 15px;
    border: 2px solid rgb(26, 255, 26);
    border-radius: 5px;
    background-color: rgb(65, 41, 41);
    color: rgb(255, 254, 255);
    margin: 18px;
    font-size: 1rem;
   cursor: pointer;

   }
 
   .center{
    text-align: center;
   }



    /* media query section */

    @media only screen and (min-width:199px) and (max-width:1052px) {
      /* styles here */
    
     
      body {
        background-color: rgb(127, 255, 238);

      }

      /* navigation ::selection */
      #logo img{
          height: 60px;
          margin: 3px 15px -2px 15px;
       }

       #logo{
        margin-right: 0px;
           }
      
       #logo .ap{
        font-size: 17px;
        margin-bottom:10px;
        padding: 0px 2px 5px 2px;
       }

       #navbar{
        flex-direction: column;
       }
       #navbar ul li {
        font-size: 18px;
       }
    

      /* home selection */
       
        #home{
          padding: 3px 18px;
          height: 280px;
        }
        #home h1{
          font-size: 2.5rem;
          
         }
         #home p{
          font-size: 1rem;
        }

        #home::before {
          height: 65%;
           }
        .btn {
          font-size: 0.9rem; 
            }
        
       /* services section */
       .h-primary{
        font-size: 2.3rem;
        padding: 16px 10px 0px 10px;
       }
        .services{
         flex-direction: column;
         margin:0px 100px;
          }

          .services .box{
            border: 3px solid rgb(94, 0, 0);
            padding: 20px;
            margin:20px 20px;
            
           }
         .services .box img{
         height: 300px;
         width: 500px;
        margin: auto;
        
        }
        .h-secondry {
          font-size: 1.5rem;
         
      }
        
        /* clients section */
        #client-section {
          height: 162px;
          margin-top: 12px;
      } 
      #clients img {
        height: 40px;
        margin: 5px;
    padding: 3px;
      }

      #client-section::before {
        height: 25%;
    }
        /* contact section  */
        #contact-box form{
          width: 45%;
            
           }
           #contact-box label {
            font-size: 1.1rem;
           }
           #contact-box input, #contact-box textarea {
            font-size: 0.9rem;
           }
        /* footer  */
     
        footer {
         
          padding: 4px 0px;
          font-size: 13px;
      }

    }



    @media only screen and (min-width: 651px) and (max-width:800px) {
      .services .box{
        border: 2px solid rgb(94, 0, 0);
        padding: 10px;
        margin: 15px 12px;
      }

      .services {
        flex-direction: column;
        margin: 0px 60px;
    }
    .services .box img{
      height: 300px;
      width: 460px;
     margin: auto;
    }

    #clients img {
      height: 36px;
      margin: 5px;
      padding: 3px;
  }
  #contact-box form {
    width: 45%;
  }
    }
    @media only screen and (min-width: 501px) and (max-width:651px) {
      
      #home::before {
        height: 58%;
    }
    #home {
      /* padding: 3px 18px; */
      height: 245px;
  }
      .services .box{
        border: 2px solid rgb(94, 0, 0);
        padding: 10px;
        margin: 15px 12px;
      }

      .services {
        flex-direction: column;
        margin: 0px 40px;
    }
    .services .box img{
      height: 200px;
      width: 340px;
     margin: auto;
    }

    #client-section {
      height: 123px;
      margin-top: 8px;
  
  } 
  #clients img {
  height: 27px;
  margin: 4px;
  padding: 2px;
  }
  #client-section::before {
    height: 19%;
  }
  #contact-box form {
    width: 55%;
  }
  #contact-box .submit {
    
    padding-left: 0px;
}
    }
    @media only screen and (min-width: 425px) and (max-width:500px) {
      #logo img {
        height: 50px;
        margin: 3px 15px -2px 15px;
    }
    #logo .ap {
      font-size: 12px;
      margin-bottom: 0px;
      padding: 0px 2px 5px 2px;
  }
  #navbar ul li {
    font-size: 14px;
}
#home::before {
  height: 40%;
}
.btn {
  font-size: 0.8rem;
}
  #home {
    padding: 3px 18px;
    height: 149px;
}
      #home h1{
        font-size: 1.7rem;
      }
      #home p {
        font-size: 0.9rem;
        font-weight: normal;
    }
     
    .h-primary {
      font-size: 1.5rem;
  }
    .h-secondry {
      font-size: 0.9rem;
  }
      .services .box{
        border: 2px solid rgb(94, 0, 0);
        padding: 10px;
        margin: 14px 12px;
      }


      .services .box img{
        height: 160px;
        width: 280px;
       margin: auto;

    }
    .services {
      flex-direction: column;
      margin: 0px 20px;
  }

 /* clients section */
 
  #client-section {
    height: 110px;
    margin-top: 8px;

} 
#clients img {
height: 20px;
margin: 4px;
padding: 2px;
}
#client-section::before {
  height: 17%;
}


#contact-box form {
  width: 70%;
}
  }

  @media only screen and (min-width: 375px) and (max-width:425px) {
    #logo img {
      height: 45px;
      margin: 3px 15px -2px 15px;
    }
    #logo .ap {
      font-size: 10px;
      margin-bottom: 0px;
      padding: 0px 2px 5px 2px;
    }
    #navbar ul li {
      font-size: 13px;
    }
    #home::before {
      height: 32%;
    }
    
    #home h1 {
      font-size: 1.5rem;
    }
#home p {
  font-weight: normal;
  font-size: 0.8rem;
}

.btn { padding: 2px 7px;
  margin: 10px;
  font-size: 0.6rem;
}

#home {
  height: 100px;
}
.h-primary {
  font-size: 1.3rem;
  padding: 16px 10px 0px 10px;
}
.h-secondry {
  font-size: 1rem;
}
#contact-box label {
  font-size: 1rem;
}
#contact-box .form-group {
  margin: 5px;
}
#contact-box .submit {
  
  margin: 12px;
  padding-left: 0px;
}
.services .box img {
  height: 125px;
  width: 214px;
  margin: auto;
}

.services .box {
  border: 2px solid rgb(94, 0, 0);
  padding: 5px;
  margin: 14px 12px;
}
.services .box p {
    font-size: 0.7rem;
    
  }
  .services {
    flex-direction: column;
    margin: 0px 8px;
  }
  #contact-box form {
    width: 75%;
  }
}

@media only screen and (min-width: 317px) and (max-width:375px) {
 
.services .box img {
  height: 125px;
  width: 214px;
  margin: auto;
}

.services .box {
  border: 2px solid rgb(94, 0, 0);
  padding: 5px;
  margin: 12px 10px;
}
.services .box p {
    font-size: 0.7rem;
    
  }
  .services {
    flex-direction: column;
    margin: 0px 8px;
  }

/* @media only screen and (min-width: 199px) and (max-width:320px) { */

  #contact-box form {
    width: 85%;
}
.submit .click {
  margin: 1px 8px;
  padding-left: 10px;
}

#clients {
   margin-top: 16px;
}

#logo img {
  height: 43px;
  margin: 3px 15px -2px 15px;
}
#home h1 {
  font-size: 1.5rem;
}
#navbar ul li a {
  padding: 5px 12px;
  }
  #navbar ul li {
    font-size: 12px;
}
#home::before {
  height: 29%;
  width: 100%;
}
#home {
  padding: 3px 18px;
  height: 88px;
}
#logo .ap {
  font-size: 9px;
  margin-bottom: 0px;
  padding: 0px 2px 1px 2px;
}
#home p {
  font-size: 0.7rem;
}
.btn {
  font-size: 0.7rem;
  padding: 3px 12px;
  margin: 3px;

}
.h-primary {
    font-size: 1.3rem;
    padding: 16px 10px 0px 10px;
}
.h-secondry {
  font-size: 1rem;
}
#clients img {
  height: 21px;
  margin: 5px;
  padding: 3px;
}
#client-section {
  height: 104px;
  margin-top: 12px;
}
#client-section::before {
  height: 16.2%;
}
#contact-box form {
  width: 85%;
}
#contact-box .submit {
  margin: 10px;
  padding-left: 7px;
}
#contact-box input, #contact-box textarea {
  font-size: 0.9rem;
}
}
@media only screen and (min-width: 199px) and (max-width:316px) {
 
  .services .box img {
    height: 120px;
    width: 140px;
    margin: auto;
  }
  
  .services .box {
    border: 2px solid rgb(94, 0, 0);
    padding: 5px;
    margin: 8px 6px;
  }
  .services .box p {
      font-size: 0.6rem;
      
    }
    .services {
      flex-direction: column;
      margin: 0px 8px;
    }
  
    #contact-box form {
      width: 70%;
  }
  .submit .click {
    margin: 1px 6px;
  }
  
  #logo img {
    height: 35px;
    margin: 3px 10px 2px 10px;
  }
  #home h1 {
    font-size: 20px;

  }
  #navbar ul li a {
    padding: 2px 5px;
    }
    #navbar ul li {
      font-size: 12px;
  }
  #home::before {
    height: 29%;
    width: 100%;
  }
  #home {
    padding: 3px 3px;
    height: 101px;
  }
  #logo .ap {
    font-size: 9px;
    margin-bottom: 0px;
    padding: 0px 2px 1px 2px;
  }
  #home p {
    font-size: 0.7rem;
  }
  .btn {
    font-size: 0.6rem;
    padding: 3px 12px;
    margin: 1px;
  
  }
  .h-primary {
      font-size: 1.3rem;
      padding: 16px 1px 0px 0px;
  }
  .h-secondry {
    font-size: 1rem;
  }

  #clients {
    margin-top: 12px;
 }
  #clients img {
    height: 21px;
    margin: 0px;
    padding: 1px;
  }
  #client-section {
    height: 104px;
    margin-top: 12px;
  }
  #client-section::before {
    height: 16.2%;
  }
  #contact-box form {
    width: 85%;
  }
  #contact-box .submit {
    margin: 0px;
    padding-left: 0px;
  }
  #contact-box input, #contact-box textarea {
    font-size: 0.8rem;
    width: 96%;
  }
  }
  


